/*html {
  --color-background: #111;
  --color-primary: #fff;
}*/


.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--drum-machine-width)
}

.range {
  width: 150px;
  height: 15px;
  -webkit-appearance: none;
  background: #444444;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  /*box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);*/
}


.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #007e05;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #007e05;
}


.range::-webkit-slider-thumb:hover {
  opacity: 80%;
}



.drum-pad,
.disabled {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--drum-machine-width) / 3);
  background: #262626;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  color: var(--color-primary);
  font-family: "Roboto Condensed";
  font-weight: 700
}

.drum-pad:after,
.disabled:after {
    position: absolute;
    bottom: 0.5rem;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*line-height: 2rem;*/
    border-bottom: 0.5vmin solid ;
  }
    
.drum-pad:before{
  content: "";
  position: absolute;
  left: 0;
  height: 35%;
  transform-origin: bottom;
  transform: scaleY(.25);
  right: 0;
  top: 100%;
  -webkit-transition: top 0.2s ease-in;
  z-index: -1;
  }




.drum-pad span.name {
  margin-bottom: 4rem;
}

#drum-machine{
  width: var(--drum-machine-width);
  height: 300px;
}

.drum-keys {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--drum-pad-width));
  grid-gap: var(--gap);
  margin-bottom: calc(var(--gap) * 4);
}



.do, 
.re, 
.mi, 
.far, 
.sol,
.la,
.ti {
  width: calc((var(--drum-machine-width) - 5 * var(--gap)) / 7);
  height: 300px;
  z-index: 0;
  display: inline-block;
  gap: none !important;
  position: relative;
  background: #fff;
  /*box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(183,183,180,0.4);*/
  box-shadow:inset 0 1px 0px #fff,inset 0 -1px 0px #fff,inset 1px 0px 0px #fff,inset -1px 0px 0px #fff,0 4px 3px rgba(0,0,0,0.7);
  border:1px solid #ccc;
  border-radius:0 0 3px 3px;
  border-width:1px 2px 7px;
  
}

.do-sharp, 
.re-sharp, 
.fa-sharp, 
.sol-sharp,
.la-sharp {
  width: calc(var(--drum-pad-width - 10));
  height: 216px;
  z-index: 1;
  display: inline-block;
  gap: none !important;
  position: relative;
  background: #111;
  color: #111;
  background:-webkit-linear-gradient(-20deg,#333,#000,#333);
  border-width:1px 2px 7px;
  border-style:solid;
  border-color:#666 #222 #111 #555;
  box-shadow:inset 0px -1px 2px rgba(255,255,255,0.4),0 2px 3px rgba(0,0,0,0.4);
  border-radius:0 0 2px 2px;
}

#do:active, 
#re:active, 
#mi:active, 
#far:active, 
#sol:active,
#la:active,
#ti:active {
  box-shadow:2px 3px 3px rgba(0,0,0,0.4);
  border-width:2px 5px 0px;
  border-style:solid;
  border-color: transparent rgba(0,0,0,0.1) transparent rgba(0,0,0,0.1);
}

#do-sharp:active, 
#re-sharp:active, 
#fa-sharp:active, 
#sol-sharp:active,
#la-sharp:active { 
  border-width:2px 3px 2px 0px;
  border-style:solid;
  box-shadow:0,0 1px 0px rgba(0,0,0,0.8),0 2px 2px rgba(0,0,0,0.4),0 -1px 0px #000;

}

